<head>
<style>
  body {
    background: darkcyan;
  }
  p {
    margin: 0;
  }
</style>
</head>
<body>

  <p>Hey {{ name }},</p>
  <p style="background: red;">aaa</p>

  <p>If you did not request this email you can safely ignore it.</p>

</body>
